################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Back_Vinculacion_Fema/v17/DocumentLayout.json
